root = true
trim_trailing_whitespace = true
insert_final_newline = true

[*.lua]
indent_style = space
indent_size = 2
charset = utf-8
quote_style = double
call_arg_parentheses = keep
trailing_table_separator = smart
